<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
Our brand mission is to make quality weather information available to every person on this planet. No matter where you live in the world or how obscure an activity you require weather information for - we will provide you with as much relevant, local weather data as we can uncover. We promise to provide weather data for those that are underserved by other weather providers.    </div>
    {{>footer}}
</body>

</html>